//- +picture({
//-   src: 'img/photo.jpg',
//-   lazy: false,
//-   classes: '',
//-   width: 800,
//-   height: 600,
//-   sizes: '(max-width: 600px) 100vw, 50vw',
//-   srcset: 'img/photo.jpg 800w, img/photo@2x.jpg 1600w',
//-   alt: 'test',
//-   formats: [
//-     {
//-       type: 'avif',
//-       src: 'img/photo.avif',
//-       srcset: 'img/photo.avif 800w, img/photo@2x.avif 1600w'
//-     },
//-     {
//-       type: 'webp',
//-       src: 'img/photo.webp',
//-       srcset: 'img/photo.webp 800w, img/photo@2x.webp 1600w'
//-     }
//-   ]
//- })
